@if(spicificProduct){
<section class="container w-[90%] mx-auto py-5">
  <div
    class="grid grid-cols-1 md:grid-cols-[30%_minmax(0,1fr)] items-center gap-x-5"
  >
    <div>
      <owl-carousel-o [options]="customOptions">
        @for (image of spicificProduct.images; track $index) {
        <ng-template carouselSlide>
          <img class="w-full" [src]="image" />
        </ng-template>
        }
      </owl-carousel-o>
    </div>
    <div>
      <h2 class="text-3xl">{{ spicificProduct.title }}</h2>
      <p class="my-5">{{ spicificProduct.description }}</p>
      <div class="flex justify-between items-center text-gray-500">
        <span class="text-light">{{ spicificProduct.price }}EGP</span>
        <div class="flex items-center">
          @for (num of [1,2,3,4,5].slice(0, spicificProduct.ratingsAverage);
          track $index) {
          <i class="fas fa-star text-yellow-300"></i>
          } @if(spicificProduct.ratingsAverage % 1 !== 0 ){
          <i
            class="fa-solid fa-star-half-stroke rating-color text-yellow-300"
          ></i>
          }
          <span>{{ spicificProduct.ratingsAverage }}</span>
        </div>
      </div>
      <div class="flex items-center">
        <button
          (click)="addToCart(spicificProduct.id)"
          class="bg-green-600 text-white py-2 px-10 block mx-auto rounded w-[70%]"
        >
          + Add
        </button>
        <a class="cursor-pointer text-lg pe-4">
          <i class="fa-solid fa-heart text-lg"></i>
        </a>
      </div>
    </div>
  </div>
</section>
}
