@if(step == 1){
<section class="w-[60%] bg-gray-50 mx-auto border shadow p-4 my-10">
  <h2 class="text-3xl">please enter your verification code</h2>
  <form [formGroup]="verfiEmail" (ngSubmit)="verfiEmailSubmit()">
    <div class="py-4">
      <input
        formControlName="email"
        type="email"
        id="email"
        class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="email"
        required
      />
      @if(verfiEmail.get('email')?.errors && verfiEmail.get('email')?.touched){
      <div
        class="flex p-4 mb-4 text-sm text-red-800 rounded-lg dark:bg-gray-800 dark:text-red-400"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-1.5 list-disc list-inside">
            @if(verfiEmail.get('email')?.getError('required')){
            <li>Email is required</li>
            } @else if (verfiEmail.get('email')?.getError('email')) {
            <li>Enter Valid Email</li>
            }
          </ul>
        </div>
      </div>
      }
    </div>
    <button class="btn-main">Verify</button>
  </form>
</section>
}@else if(step == 2){
<section class="w-[60%] bg-gray-50 mx-auto border shadow p-4 my-10">
  <h2 class="text-3xl">reset your account password</h2>
  <form [formGroup]="verfiCode" (ngSubmit)="verfiCodeSubmit()">
    <div class="py-4">
      <input
        formControlName="resetCode"
        type="text"
        id="resetCode"
        class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="code"
        required
      />
      @if(verfiCode.get('resetCode')?.errors &&
      verfiCode.get('resetCode')?.touched){
      <div
        class="flex p-4 mb-4 text-sm text-red-800 rounded-lg dark:bg-gray-800 dark:text-red-400"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-1.5 list-disc list-inside">
            @if(verfiCode.get('resetCode')?.getError('required')){
            <li>the code isn't valid</li>
            }
          </ul>
        </div>
      </div>
      }
    </div>
    <button class="btn-main">Verify</button>
  </form>
</section>
} @else if(step == 3){
<section class="w-[60%] bg-gray-50 mx-auto border shadow p-4 my-10">
  <h2 class="text-3xl">reset your account password</h2>
  <form [formGroup]="resetPassword" (ngSubmit)="resetPasswordSubmit()">
    <div class="py-4">
      <input
        readonly
        formControlName="email"
        type="email"
        id="email"
        class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="email"
        required
      />
      @if(resetPassword.get('email')?.errors &&
      resetPassword.get('email')?.touched){
      <div
        class="flex p-4 mb-4 text-sm text-red-800 rounded-lg dark:bg-gray-800 dark:text-red-400"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-1.5 list-disc list-inside">
            @if(resetPassword.get('email')?.getError('required')){
            <li>Email is required</li>
            } @else if (resetPassword.get('email')?.getError('email')) {
            <li>Enter Valid Email</li>
            }
          </ul>
        </div>
      </div>
      }
    </div>
    <div class="pb-4">
      <label
        for="password"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >password</label
      >
      <input
        formControlName="newPassword"
        type="password"
        id="newPassword"
        class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="newPassword"
        required
      />
      @if(resetPassword.get('newPassword')?.errors &&
      resetPassword.get('newPassword')?.touched){
      <div
        class="flex p-4 mb-4 text-sm text-red-800 rounded-lg dark:bg-gray-800 dark:text-red-400"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-1.5 list-disc list-inside">
            @if(resetPassword.get('newPassword')?.getError('required')){
            <li>add New Password</li>
            } @else if (resetPassword.get('newPassword')?.getError('pattern')) {
            <li>must be at least 6 chars</li>
            }
          </ul>
        </div>
      </div>
      }
    </div>
    <button class="btn-main">Verify</button>
  </form>
</section>
}
