<footer class="bg-gray-200 py-5 md:px-10">
  <div class="text-center md:text-left">
    <h2 class="text-xl text-gray-800 font-semibold">Get The FreshCart App</h2>
    <p class="text-gray-600 text-sm">
      We Will Send You a Link, Open it on Your Phone to download the app
    </p>
  </div>

  <!-- Input Section -->
  <div
    class="mt-5 px-4 sm:px-2 flex flex-col items-center gap-3 sm:flex-row sm:gap-0 sm:items-center border-b pb-4 border-gray-300"
  >
    <input
      class="border border-gray-400 rounded-md w-full sm:w-auto px-3 py-2 sm:flex-grow"
      type="email"
      name="email"
      id="email"
      placeholder="Enter Your Email"
    />
    <button
      class="w-full sm:w-auto px-4 sm:ms-4 py-2 bg-green-600 text-white rounded-md"
    >
      Share App Link
    </button>
  </div>

  <!-- Partners and Downloads -->
  <div
    class="mt-5 block md:flex md:justify-between items-center border-b pb-4 border-gray-300"
  >
    <!-- Payment Partners -->
    <div class="mb-4 md:mb-0 flex items-center gap-3">
      <h3 class="text-sm font-semibold text-gray-800">Payment Partners:</h3>
      <img
        src="/images/amazon-pay.png"
        class="w-10 h-auto object-contain"
        alt="amazon"
      />
      <img
        src="/images/American-Express-Color.png"
        class="w-10 h-auto object-contain"
        alt="American-Express"
      />
      <img
        src="/images/mastercard.webp"
        class="w-10 h-auto object-contain"
        alt="mastercard"
      />
      <img
        src="/images/paypal.png"
        class="w-10 h-auto object-contain"
        alt="paypal"
      />
    </div>

    <!-- App Downloads -->
    <div class="flex items-center gap-4">
      <h3 class="text-sm font-semibold text-gray-800">
        Get Deliveries with FreshCart:
      </h3>
      <img
        src="/images/get-apple-store.png"
        class="w-24 h-auto object-contain"
        alt="get-apple-store"
      />
      <img
        src="/images/get-google-play.png"
        class="w-24 h-auto object-contain"
        alt="get-google-play"
      />
    </div>
  </div>

  <!-- Footer Text -->
  <div class="mt-5 text-center text-gray-600 text-sm">
    © 2025 FreshCart. All rights reserved.
  </div>
</footer>
